<!DOCTYPE html>
@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims;
@using WAWillClinicFrontEnd.Models;

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/reset.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/base.css" />
    <link rel="stylesheet" href="~/css/layout.css" />
    <link rel="stylesheet" href="~/css/module.css" />
    <link rel="stylesheet" href="~/css/faq.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        @*mobile nav*@
        <div id="blue-head">
            <nav>
                <h1><a href="/">The Will Clinic</a><i class="fas fa-times"></i></h1>
                @if (SignInManager.IsSignedIn(User))
                {
                    <p id="identity_user">@User.Identity.Name</p>
                }
                <ul>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li><a href="/Admin/Dashboard">Dashboard</a></li>
                        <li><a href="/Admin/AdminManager">Admin Manager</a></li>
                        <li><a href="/Admin/ResourcesManager">Resources Manager</a></li>
                    }
                    <li><a href="/">Home</a></li>
                    <li><a href="/locationchoice">Attend a Clinic</a></li>
                    <li><a href="/volunteer">Volunteer</a></li>
                    <li><a href="/about">Who We Are</a></li>
                    <li><a href="/FAQs">FAQs</a></li>
                    <li><a href="/contact">Contact us</a></li>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li><a href="/logout">Logout</a></li>
                    }
                </ul>
            </nav>
            <p>
                WA Vets Will Clinic <strong>would like to thank</strong> the following organizations and people
                for their participation and/or sponsorship:
            </p>
            <div>
                <ul>
                    <li>Etter, McMahon, Lamberson, Clary & Oreskovich, P.C.</li>
                    <li>Garco Construction, Inc.</li>
                    <li>Pepsi Beverages Co.</li>
                    <li>The Wake-Up Call Fine Coffee & Espresso</li>
                    <li>Witherspoon Kelley</li>
                </ul>
            </div>
        </div>
        @*desktop nav*@
        <div id="white-head">
            @if (SignInManager.IsSignedIn(User))
            {
                <h1 id="title"><a href="/">The <br />Will Clinic</a></h1>
                <ul class="desktop-nav">

                    <li><a href="/Admin/Dashboard">Dashboard</a></li>
                    <li><a href="/Admin/AdminManager">Admin Manager</a></li>
                    <li><a href="/ResourcesManager">Resources Manager</a></li>
                    <li><a href="/locationchoice">Attend a Clinic</a></li>
                    <li><a href="/volunteer">Volunteer</a></li>
                    <li><a href="/about">Who we are</a></li>
                    <li><a href="/faqs">FAQs</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
                <p id="identity_user">@User.Identity.Name</p>
                @*<p>@User.Claims.FirstOrDefault(greet => greet.Type == "FullName").Value</p>*@
            }
            else
            {
                <h1 id="title"><a href="/">The <br />Will Clinic</a></h1>
                <ul class="desktop-nav">

                    <li><a href="/locationchoice">Attend a Clinic</a></li>
                    <li><a href="/volunteer">Volunteer</a></li>
                    <li><a href="/about">Who we are</a></li>
                    <li><a href="/faqs">FAQs</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                </ul>
            }
            <i class="fas fa-bars"></i>
        </div>
    </header>

    <main>
        <section>
            @RenderBody()
        </section>
    </main>
    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <script src="~/js/app.js"></script>
    @*<script src="~/js/faq.js"></script>*@
</body>
</html>