@page
@model WAWillClinicFrontEnd.Pages.EditModel
@{
    ViewData["Title"] = "Edit User";
}

@{
    Layout = "_Layout";
}
<section>
    <h2>Edit user</h2>
</section>

<section>
    <form method="post">
        <label asp-for="Name">Full Name</label>
        <input type="text" name="Name" value="@Model.Name" required title="Please input a name" />
        <br />
        <label asp-for="Email">Email Address</label>
        <input type="email" name="Email" value="@Model.Email" required title="Please input an email address" />
        <br />
        <label asp-for="Phone">Phone Number</label>
        <input type="tel" name="Phone" value="@Model.Phone" required pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" title="Please input a phone number" />
        <br />

        <label asp-for="IsVeteran">
            Are you, or your spouse, a veteran of the United States Armed
            Forces?
        </label>
        <br />

        @if (Model.IsVeteran)
        {
            <span>
                <input class="radioButton" type="radio" name="IsVeteran" value="true" checked /> Yes
            </span>
            <span>
                <input class="radioButton" type="radio" name="IsVeteran" value="IsVeteran" /> No <br />
            </span>
        }
        else
        {
            <span>
                <input class="radioButton" type="radio" name="IsVeteran" value="true" /> Yes
            </span>
            <span>
                <input class="radioButton" type="radio" name="IsVeteran" value="IsVeteran" checked /> No <br />
            </span>
        }

        <br />

        <label asp-for="IsWashingtonResident">Are you a Washington state resident?</label>
        <br />

        @if (Model.IsWashingtonResident)
        {
            <span>
                <input class="radioButton" type="radio" name="IsWashingtonResident" value="True" checked /> Yes
            </span>
            <span>
                <input class="radioButton" type="radio" name="IsWashingtonResident" value="False" /> No <br />
            </span>
        }
        else
        {
            <span>
                <input class="radioButton" type="radio" name="IsWashingtonResident" value="True" /> Yes
            </span>
            <span>
                <input class="radioButton" type="radio" name="IsWashingtonResident" value="False" checked /> No <br />
            </span>
        }
        <br />

        <label asp-for="PreferredTime">Please indicate your preferred time to receive service.</label>
        <br />
        @if (Model.PreferredTime)
        {
            <span>
                <input class="radioButton" type="radio" name="PreferredTime" value="True" checked /> Morning
            </span>
            <span>
                <input class="radioButton" type="radio" name="PreferredTime" value="False" /> Afternoon
            </span>
        }
        else
        {
            <span>
                <input class="radioButton" type="radio" name="PreferredTime" value="True" /> Morning
            </span>
            <span>
                <input class="radioButton" type="radio" name="PreferredTime" value="False" checked /> Afternoon
            </span>
        }
        <br /><br />

        <label asp-for="ChooseMaritalStatus">What is your marital status?</label><br />
        <select asp-for="ChooseMaritalStatus" asp-items="Html.GetEnumSelectList<MaritalStatus>()"></select>
        <span asp-validation-for="ChooseMaritalStatus"></span>
        <br />

        <label asp-for="SpouseName">Full legal name of your spouse</label><br />
        <input type="text" name="SpouseName" required value="@Model.SpouseName"
               title="Please enter the full legal name of your spouse." />
        <span asp-validation-for="SpouseName"></span>
        <br />

        <label asp-for="HasChildren">Do you have any children?</label>
        <br />
        @if (Model.HasChildren)
        {
            <span>
                <input class="radioButton" type="radio" name="HasChildren" value="True" checked />Yes
            </span>
            <span>
                <input class="radioButton" type="radio" name="HasChildren" value="False" />No
            </span>
            <br />
        }
        else
        {
            <span>
                <input class="radioButton" type="radio" name="HasChildren" value="True" />Yes
            </span>
            <span>
                <input class="radioButton" type="radio" name="HasChildren" value="False" checked />No
            </span>
            <br />
        }
        @*<input class="radioButton" type="radio" name="HasChildren" value="True" /> Yes
            <input class="radioButton" type="radio" name="HasChildren" value="False" /> No <br />
            <span asp-validation-for="HasChildren"></span>*@
        <br />

        <label asp-for="IsCurrentlyPregnant">
            Do you have any minor children?
            Or, are you, your spouse, or your partner currently pregnant?
        </label>
        <br />

        @if (Model.IsCurrentlyPregnant)
        {
            <span>
                <input class="radioButton" type="radio" name="IsCurrentlyPregnant" value="True" checked /> Yes
            </span>
            <span>
                <input class="radioButton" type="radio" name="IsCurrentlyPregnant" value="False" /> No
            </span>
        }
        else
        {
            <span>
                <input class="radioButton" type="radio" name="IsCurrentlyPregnant" value="True" /> Yes
            </span>
            <span>
                <input class="radioButton" type="radio" name="IsCurrentlyPregnant" value="False" checked /> No
            </span>
        }
        <span asp-validation-for="IsCurrentlyPregnant"></span>
        <br />

        <label asp-for="MinorChildName">Full legal name(s) of your MINOR child(ren).</label><br />
        <input type="text" name="MinorChildName" required value="@Model.MinorChildName"
               title="Child's name." />
        <span asp-validation-for="MinorChildName"></span>
        <br />

        <label asp-for="ContRemBeneficiary">Contingent remainder beneficiary?</label>
        <select asp-for="ContRemBeneficiary" asp-items="Html.GetEnumSelectList<WhoToInheritEstate>()"></select>
        <span asp-validation-for="ContRemBeneficiary"></span>
        <br />

        <label asp-for="PersonToInherit">Who would you like to inherit your estate when you die?</label>
        <select asp-for="PersonToInherit" asp-items="Html.GetEnumSelectList<WhoToInheritEstate>()"></select>
        <span asp-validation-for="PersonToInherit"></span>
        <br />

        <label asp-for="PersonalRep">Whom do you wish to serve as your personal representative?</label>
        <select asp-for="PersonalRep" asp-items="Html.GetEnumSelectList<WhoToInheritEstate>()"></select>
        <span asp-validation-for="PersonalRep"></span>
        <br />
        <input type="submit" value="Update User" />
    </form>
    @*<form method="post" asp-page-handler="delete">
        <input type="hidden" name="Email" value="@Model.Email" />
        <input type="submit" value="Delete User" />
    </form>*@

    <form method="get" asp-page="DeleteConfirm">
        <input type="hidden" asp-for="ID" value="@Model.ID" />
        <input type="submit" value="Delete User" style="background-color:red"/>
    </form>
</section>
