@page
@model WAWillClinicFrontEnd.Pages.ResourceModel
@{
    ViewData["Title"] = "Resource";
    Layout = "_Layout";
}
<h2>Resources</h2>

@if (Model.TypeResource == 0)
{
    <div class="container">
        <form method="post">
            <label asp-for="TypeResource">Resource Type</label>
            <select asp-for="TypeResource" class="form-control" style="width:25%" asp-items="@Html.GetEnumSelectList(typeof(WAWillClinicFrontEnd.Models.ResourceType))"></select>
            <span asp-validation-for="TypeResource"></span>
            <button type="submit">Filter Resources</button>
        </form>
    </div>

    @foreach (Resource resource in Model.AllResources)
    {
        <div class="resource">
            <input type="hidden" asp-for="@resource.ID" value="@resource.ID" name="id" />
            <h4>@Html.DisplayFor(item => resource.Title)</h4>
            <img src="@Html.DisplayFor(item => resource.ImageURL)" alt="Alternate Text" />
            <a href="@Html.DisplayFor(item => resource.Link)">@Html.DisplayFor(item => resource.Link)</a>
            <p>@Html.DisplayFor(item => resource.Description)</p>
        </div>
    }
}
else
{
    <div class="container">
        <form method="post">
            <label asp-for="TypeResource">Resource Type</label>
            <select asp-for="TypeResource" class="form-control" style="width:25%" asp-items="@Html.GetEnumSelectList(typeof(WAWillClinicFrontEnd.Models.ResourceType))"></select>
            <span asp-validation-for="TypeResource"></span>
            <button type="submit">Choose a Resource</button>
        </form>
    </div>

    @foreach (Resource reso in Model.AllResourcesByType)
    {
        <div class="resource" id="@Html.DisplayFor(item => reso.ID)">
            <h4>@Html.DisplayFor(item => reso.Title)</h4>
            <img src="@Html.DisplayFor(item => reso.ImageURL)" alt="Alternate Text" />
            <a href="@Html.DisplayFor(item => reso.Link)">@Html.DisplayFor(item => reso.Link)</a>
            <p>@Html.DisplayFor(item => reso.Description)</p>
        </div>
    }
}






